.button {
  border: 0;
  color: #fff;
  font-family: $base-font;
  font-size: px-to-rems(14);
  font-weight: 200;
  outline: 0;
  padding: px-to-rems(10) px-to-rems(20);
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &__orange {
    background-color: transparent;
    border: 3px solid $action-color;
    color: $action-color;
    font-weight: 400;
    border-radius: 25px;
    padding: 10px 70px;
  }

  &__done {
    background-color: $done-color;
    border: 3px solid $done-color;
    color: #fff;
    font-weight: 400;
    border-radius: 25px;
    padding: 10px 50px;
    text-transform: uppercase;
  }
}